@import "./sliderButton.css";
.holder {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    max-width: 100%;
  }

  .main-container .image-container {
    width: 50%;
    height: 220px;
    min-height: 100%;
    background-color: #000;
  }
  .image-container img {
    width: 400px;
    height: 100%;
    object-fit: contain;
  }

  .main {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .main q {
    font-size: 25px;
    line-height: 30px;
  }
  .main p {
    font-size: 20px;
  }

  /* responsive design  */
  @media screen and (max-width: 1000px) {
    .holder {
      width: 100vw;
    }
    .main-container {
      flex-direction: column;
      width: 100%;
      background-color: #000;
    }

    .main-container .image-container {
      width: 100%;
    }

    .image-container img {
      width: 100%;
    }

    .main {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .main q {
      text-align: center;
      font-size: 17px;
    }
    .main p {
      font-size: 15px;
    }
  }
}
